*{

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  }
@media screen and (min-width:780px) {
  #marecherche{
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
    
    p{
      font-family:   Arial, Helvetica, sans-serif;
    }
    
    body,html{
      margin: 0;
    }
    
    .container{
      width: 95%;
      max-width: 1240px;
      margin: 0 auto;
    }
    
    .grid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    #hebergement > .container > .grid > div {
      background-color: #F2F2F2;
      border-radius: 20px;
      padding: 30px; 
    }
    
    #hebergement .container .grid .col1 .element{
      border-radius: 20px;
      padding: 5px;
      width: 31%;
      margin-bottom: 3%;
    }
    
    #hebergement .container .grid .col2 .element{
      border-radius: 20px;
      padding: 5px;
      width: 100%;
      margin-bottom: 3%;
    }
    
    .head1:hover{
      border-top: 2px solid #0065FC;
    }
    
    .head1{
      color: #0065FC;
    }
    
    .head2:hover{
      border-top: 2px solid #0065FC;
    }
    
    .head3{
      color: #0065FC;
    }
    
    .head3:hover{
      border-top: 2px solid #0065FC;
    }
    
    .lieu{
      border: 1px solid pink;
      border-radius: 20px;
      width: 238px;
    }
    
    mark{
      color: white;
      background-color: #0065FC;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; 
    
    }
    
    .filtres{
      display: flex;
      justify-content: space-around
    }
    
    .recherche{
      border: 1px black solid ;
      border-radius: 15px;
      display: inline-block;
      margin: 30px;
      /*height: 50px;
      line-height: 50px;*/
    }
    
    .recherche  i{
      padding: 15px;
      border: 1px black solid;
      border-radius: 13px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: gray; 
    }
    
    
    .filtre{
      margin-left: 20px;
      border: 1px gray solid;
      border-radius: 20px;
      line-height: 33px;
      display: inline-block;
      padding-right: 15px;
      margin: 30px;
    }
    
    .filtre > i{
      background-color: #DEEBFF;
      color: #0065FC;
      border-radius: 50px;
      line-height: 35px;
      width: 35px;
      text-align: center;
    }
    
    .fa-star{
      color: #0065FC;
    }
    .fa-star.grey{
      color: grey;
    }
    
    .bouton{
      background-color: #0065FC;
      color: white;
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
      line-height: 15px;
      height: 40px;
      width: 90px;
      text-align: center;
      border: none;
    }
    
    .footer{
      display: flex;
      justify-content: space-around;
      background-color: #F2F2F2;
      margin-top: 50px;
     
    }
    
    .rechercher{
      color: white;
      background-color: red;
    }
    
    #hebergement .col2 .info{
      width: 60%;
      padding: 10px;
    }
    
    #hebergement .col2 .picture{
      width: 35%;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    #hebergement .col1 .info{
      width: 100%;
      padding: 10px;
    }
    
    #hebergement .col1 .picture{
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    .white{
      background-color: white;
    }
    
    #hebergement .grid .col1{
      width: 60%;
    
    }
    
    #hebergement .grid .col2{
      width: 35%;
    }
    
    .menu{
      text-align: right;
      
    }
    
    .head{
      display: flex;
      justify-content: space-between;
    }
    
    #activite > .container > .grid > div{
      width: 23%;
      height: 100%;
    }
    
    .carte{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 5px black;
    }
    
    .carte > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 350px;
      object-fit: cover;
    }
    
    .carte0{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 3px black;
    }
    .carte1{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 3px black;
    }
    
    .carte2{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 3px black;
    }
    
    .carte0 > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 160px;
      object-fit: cover;
    }
    
    .carte1 > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 130px;
      object-fit: cover;
    }
    
    .carte2 > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 100px;
      object-fit: cover;
    }
    
    .carte > .info{
      padding: 20px;
    }
    
    .carte > .info > h3{
      margin: 0;
    }
    
    .carte1> .info1{
      padding: 20px;
    }
    
    .carte1> .info1 > h3 {
      margin: 0;
    }
    
    .carte2> .info{
      padding: 20px;
    }
    
    .carte2> .info > h3 {
      margin: 0;
    }
    
    .carte0> .info{
      padding: 20px;
    }
    
    .carte0> .info > h3 {
      margin: 0;
    }
    
    #activite > .container > .grid .carte0{
      margin-bottom: 27px;
    }
    
    #activite > .container > .grid .carte1{
      margin-bottom: 27px;
    }
    
    .bordure{
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    
    .bordure2{
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
    
    .col1 .picture{
      height: 135px;
      width: 202px;
    }
    
    .col2 .picture{
      height: 135px;
      width: 127px;
    }
    
    .picture{
      margin: 5px;
    }
    
    .div .element .white .grid{
      margin: 2px;
    }
    
    .logo{
      height: 50px;
      width: 70px;
    }
    
    .grid1{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .col3 .picture1 {
      height: 370px;
      width: 270px;
    }
    
    #hebergement .container .grid1 .col3 .element1{
      border-radius: 20px;
      padding: 5px;
      width: 31%;
      margin-bottom: 3%;
    }
    
    .white1{
      background-color: rgb(248, 248, 248);
      width: 270px;
      height: 263px;
    }
    
    .element1{
      border-radius: 20px;
    }
    
    .picture1{
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    .color{
      background-color: rgb(247, 244, 244);
      border-radius: 20px;
      width: 270px;
      box-shadow: black 10px;
    }
    
    .col3 .picture2{
      height: 200px;
      width: 270px;
    }
    
    .picture2{
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    
}

@media screen and (min-width:1240px) {
  #marecherche{
    line-height: 33px;
    padding-left: 10px;
    padding-right: 10px;
  }
    
    p{
      font-family:   Arial, Helvetica, sans-serif;
    }
    
    body,html{
      margin: 0;
    }
    
    .container{
      width: 95%;
      max-width: 1240px;
      margin: 0 auto;
    }
    
    .grid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    #hebergement > .container > .grid > div {
      background-color: #F2F2F2;
      border-radius: 20px;
      padding: 30px; 
    }
    
    #hebergement .container .grid .col1 .element{
      border-radius: 20px;
      padding: 5px;
      width: 31%;
      margin-bottom: 3%;
    }
    
    #hebergement .container .grid .col2 .element{
      border-radius: 20px;
      padding: 5px;
      width: 100%;
      margin-bottom: 3%;
    }
    
    .head1:hover{
      border-top: 2px solid #0065FC;
    }
    
    .head1{
      color: #0065FC;
    }
    
    .head2:hover{
      border-top: 2px solid #0065FC;
    }
    
    .head3{
      color: #0065FC;
    }
    
    .head3:hover{
      border-top: 2px solid #0065FC;
    }
    
    .lieu{
      border: 1px solid pink;
      border-radius: 20px;
      width: 238px;
    }
    
    mark{
      color: white;
      background-color: #0065FC;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; 
    
    }
    
    .filtres{
      display: flex;
      justify-content: space-around
    }
    
    .recherche{
      border: 1px black solid ;
      border-radius: 15px;
      display: inline-block;
      margin: 0px;
      padding: 0px;
      /*height: 50px;
      line-height: 50px;*/
    }
    
    .recherche  i{
      padding: 15px;
      border: 1px black solid;
      border-radius: 13px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: gray; 
    }
    
    
    .filtre{
      margin-left: 20px;
      border: 1px gray solid;
      border-radius: 20px;
      line-height: 33px;
      display: inline-block;
      padding-right: 15px;
      margin: 30px;
    }
    
    .filtre > i{
      background-color: #DEEBFF;
      color: #0065FC;
      border-radius: 50px;
      line-height: 35px;
      width: 35px;
      text-align: center;
    }
    
    .fa-star{
      color: #0065FC;
    }
    .fa-star.grey{
      color: grey;
    }
    
    .bouton{
      background-color: #0065FC;
      color: white;
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
      line-height: 15px;
      height: 40px;
      width: 90px;
      text-align: center;
      border: none;
    }
    
    .footer{
      display: flex;
      justify-content: space-around;
      background-color: #F2F2F2;
      margin-top: 50px;
     
    }
    
    .rechercher{
      color: white;
      background-color: red;
    }
    
    #hebergement .col2 .info{
      width: 60%;
      padding: 10px;
    }
    
    #hebergement .col2 .picture{
      width: 35%;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    #hebergement .col1 .info{
      width: 100%;
      padding: 10px;
    }
    
    #hebergement .col1 .picture{
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    .white{
      background-color: white;
    }
    
    #hebergement .grid .col1{
      width: 60%;
    
    }
    
    #hebergement .grid .col2{
      width: 35%;
    }
    
    .menu{
      text-align: right;
      
    }
    
    .head{
      display: flex;
      justify-content: space-between;
    }
    
    #activite > .container > .grid > div{
      width: 23%;
      height: 100%;
    }
    
    .carte{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 5px black;
    }
    
    .carte > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 350px;
      object-fit: cover;
    }
    
    .carte0{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 3px black;
    }
    .carte1{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 3px black;
    }
    
    .carte2{
      width: 100%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 0 3px black;
    }
    
    .carte0 > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 160px;
      object-fit: cover;
    }
    
    .carte1 > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 130px;
      object-fit: cover;
    }
    
    .carte2 > img{
      width: 100%;
      border-radius: 20px 20px 0 0;
      height: 100px;
      object-fit: cover;
    }
    
    .carte > .info{
      padding: 20px;
    }
    
    .carte > .info > h3{
      margin: 0;
    }
    
    .carte1> .info1{
      padding: 20px;
    }
    
    .carte1> .info1 > h3 {
      margin: 0;
    }
    
    .carte2> .info{
      padding: 20px;
    }
    
    .carte2> .info > h3 {
      margin: 0;
    }
    
    .carte0> .info{
      padding: 20px;
    }
    
    .carte0> .info > h3 {
      margin: 0;
    }
    
    #activite > .container > .grid .carte0{
      margin-bottom: 27px;
    }
    
    #activite > .container > .grid .carte1{
      margin-bottom: 27px;
    }
    
    .bordure{
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    
    .bordure2{
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
    
    .col1 .picture{
      height: 135px;
      width: 202px;
    }
    
    .col2 .picture{
      height: 135px;
      width: 127px;
    }
    
    .picture{
      margin: 5px;
    }
    
    .div .element .white .grid{
      margin: 2px;
    }
    
    .logo{
      height: 50px;
      width: 70px;
    }
    
    .grid1{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .col3 .picture1 {
      height: 370px;
      width: 270px;
    }
    
    #hebergement .container .grid1 .col3 .element1{
      border-radius: 20px;
      padding: 5px;
      width: 31%;
      margin-bottom: 3%;
    }
    
    .white1{
      background-color: rgb(248, 248, 248);
      width: 270px;
      height: 263px;
    }
    
    .element1{
      border-radius: 20px;
    }
    
    .picture1{
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    .color{
      background-color: rgb(247, 244, 244);
      border-radius: 20px;
      width: 270px;
      box-shadow: black 10px;
    }
    
    .col3 .picture2{
      height: 200px;
      width: 270px;
    }
    
    .picture2{
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    }