header{
    background-color: gray;
  }
  .redd{
      background-color: red;
      padding: 4%;
      display: flex;
      flex-direction: column;
      margin-bottom: .1rem;
      margin: 1% 10% 1% 10%;
  
  }
  .redTOP{
      background-color:  red;
      padding: 8%;
      display: flex;
      margin: 1% 10% 1% 10%;
  }
  .section{
    background-color: gray;
  }
  .red1{
    background-color: red;
      padding: 12% 25% ;
      float: left;
      margin-bottom: .1rem;
      margin: 0% 0% 1% 10%;
  }
  .red2{
     background-color:  red;
      padding: 12% ;
      float: right;
      margin: 1% 10% 1% 0%;
  }
  .left{
    background-color:  red;
      padding: 9% 6% ;
      float: right;
      float: left;
      margin: 0% 0% 1% 10%;
  }
  .topleft{
    background-color:  red;
      padding: 9% 6% ;
      float: right;
      float: left;
      margin: 0% 0% 1% 9%;
  }